#wrapper svg{
	padding: 50px;
	background-color: #cacaca;
}
.blue{
	fill: #00c;
	background-color: #00c;
}
.red{
	fill: #c00;
	background-color: #c00;
}
.open{
	fill: #c2b280;
	background-color: #c2b280;
}
.state{
	font-size: 9px;
	color:white;
	text-align: center;
}
.state-info{
	height:20px;
	width:20px;
	color:white;
	border-radius: 3px;
	font-size: 9px;
	font-weight:bold;
	text-align: center;
}
#number-container #reb-name, #number-container #dem-name{
	position: absolute;
	display: inline;
	font-family: helvetica;
	top:40px;
	font-size:14px;
}
#number-container #reb-name{
	color: #c00;
	left:627px;
}
#number-container #dem-name{
	color: #00c;
	left:150px;
}
#number-container #democrats, #number-container #republicans{
	font-size: 24px;
}
#poll-container{
	position: relative;
	top:60px;
	margin-left: 140px;
	width:600px;
	height:20px;
}
#poll-container #rebs{
	height:100%;
	background-color: #c00;
	float:left;
	display:inline;
}
#poll-container #open{
	height:100%;
	background-color: #c2b280;
	float: left;
	display:inline;
	text-align: center;
	color:white;
}
#poll-container #dems{
	height:100%;
	background-color: #00c;
	float:left;
	display:inline;
}
#reset-button{
	width:150px;
	height:30px;
	background-color: #3c3;
	border-radius: 5px;
	color:white;
	position: absolute;
	font-size: 18px;
	top:530px;
	left:450px;
	cursor:pointer;
}
.states{
	cursor:pointer;
}
